# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Streamlit
.streamlit/

# Models & Data (Keep large files out of Git)
models/
data/
*.h5
*.pkl

# Metrics & Plots
metrics.json
plots/

# OS
.DS_Store
Thumbs.db
